{% extends 'layout.html' %}
{%block title%}Home{%endblock%}
{%block content%}

<!--Bootstrap icons-->
<div class="d-flex justify-content-center text-center">
<div class="card" style="width: 50rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="flex-direction:row;" ><a href="https://web.whatsapp.com/send?phone=+5519996609924&text=sua+mensagem" class="list-group-item"><span class="bi bi-whatsapp"></span> Whatsapp</a></li>
      <li class="list-group-item"><a href="mailto:leosoares.bezerra2017@gmail.com" class="list-group-item"><span class='bi bi-send'></span> E-mail</a></li>
      <li class="list-group-item"><a href="https://t.me/leosoaresbezerra" class="list-group-item"><span class='bi bi-telegram'></span>Telegram</a></li>
      
    </ul>
  </div>
</div>

{%endblock%}