{%extends 'layout.html' %}
{%block title%}{{name}}{%endblock%}
{%block content%}


<div class="form-group">
    <label for=""></label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Title</small>
  </div>

  <div class="form-group">
    <label for=""></label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Content</small>
  </div>
  
  <button type="button" class="btn btn-primary">Postar</button>

{%endblock%}